/* Style Guide *//* 
-------Typography-------

Font-weight: 
normal 400
bold 700
small 300

Line-height: 
heading 1.2
normal 1.6 (p, a, small)

Letter-spacing: 
headings -1.5px
(no need for normal text)

Font-size: 
h1 62px
h2 48px
h3 40px
h4 28px
p & a 20px
small 16px

Font-family: 
Georgia, Times New Roman, Times, serif

Border-radius:
card: 5px - 20px

--------Spacing System--------

|| 5px / 10px / 20px / 50px / 100px / 200px / 250px / 300px ||

-------Color Palette---------

Primary tint:  #aa9de3
Primary color: #553bc6
Primary shade: #442f9e

Secondary tint:  #d4d7db
Secondary color: #597bab
Secondary shade: #27374d

grey tint 1:  #efefef
grey tint 2:f0f0f0
grey tint 3: #949494
grey color: #363636
grey shade: #1b1b1b

-----------------------------------------*/

* {
    margin: 0px;
    padding: 0px;  
    box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
}

:root {

    --primary-tint: #aa9de3;
    --primary-color: #553bc6;
    --primary-shade: #442f9e;
    --secondary-tint-shadow: #b6b1b1; 
    --secondary-tint: #d4d7db;
    --secondary-color: #597bab;
    --secondary-shade: #27374d;
    --grey-tint-1: #efefef;
    --grey-tint-2: #f0f0f0;
    --grey-tint-3: #949494;
    --grey-color: #363636;
    --grey-shade: #1b1b1b;
    
    --font-h1: 6.2rem;
    --font-h2: 4.8rem;
    --font-h3: 4.0rem;
    --font-h4: 2.8rem;
    --font-normal: 2.0rem;
    --font-small: 1.6rem;

    --letter-spacing-tight: -2px;
    --line-height-head: 1.2;
    --line-height-normal: 1.6;

    --font-weight-bold: 700;
    --font-weight-normal: 400;
    --font-weight-small: 300;

}

a {
    text-decoration: none;
    display: block;
}

ul {
    list-style: none;
}

h1, h2, h3 {
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-head);
    letter-spacing: var(--letter-spacing-tight);
    color: var(--grey-shade);
}

h4, p, a {
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-normal);
    color: var(--grey-color);
}

small {
    font-weight: var(--font-weight-small);
    line-height: var(--line-height-normal);
    font-size: var(--font-small);
    color: var(--grey-color);
}

h1 {
    font-size: var(--font-h1);
}

h2 {
    font-size: var(--font-h2);
}

h3 {
    font-size: var(--font-h3);
}

h4 {
    font-size: var(--font-h4);
}

p, a {
    font-size: var(--font-normal);
}

body {
    background-color: white;
}

.nav-bar {
    background-color: var(--secondary-shade);
    padding-top: 0.5rem;
    padding-left: 3rem;
    margin-bottom: 15rem;   
    display: flex;
    gap: 1.5rem;
    box-shadow: 0.2rem 0.2rem 0.3rem 0.0rem var(--secondary-tint-shadow);
}

.AU-logo {
    height: 10rem;
}

.nav-note-1 {
    line-height: 1;
    margin-top: 1rem;
}

.nav-note-1, .nav-note-2 {
    color: #fff;
}

header .welcome-head, .welcome-note {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.welcome-head {
    margin-bottom: 2rem;
    text-shadow: 0.2rem 0.2rem 0.3rem var(--grey-tint-3);
}

header {
    margin-bottom: 12rem;
    background-color: white;
}

.feature-section {
    margin-bottom: 8rem;
}

.section-head {
    margin-bottom: 2rem;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.3rem var(--grey-tint-3);
}

.card-container {
    width: 85vw;
    background-color: var(--secondary-tint);
    box-shadow: 0.2rem 0.2rem 0.5rem 0.2rem var(--grey-tint-3);
    margin: 0 auto;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 5rem;
}

.card {
    margin: 5rem 5rem 0px 5rem;
    background-color: white;
    border-radius: 10px;
    min-height: 10rem;
    max-width: 50rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem var(--secondary-tint-shadow);
}

.card:hover {
    box-shadow: 0.15rem 0.15rem 0.3rem 0.2rem var(--secondary-shade);
}

.subtopic-title {
    padding: 1rem;
}

.card-container .card .subtopic-list {
    display: none;
}

.card h4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card .sub-topic-link {
    padding-bottom: 1rem;
}

.card li:hover {
    background-color: var(--grey-tint-2);

}

footer {
    background-color: var(--grey-tint-1);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* dropdown toggler */

.subtopic-list {
    display: none;
}

.card.open .subtopic-list {
    display: block;
}

@media (max-width: 91rem) {
    /* 91rem = 1456px */
    html {
        font-size: 56.25%;
    }
}

@media (max-width: 64rem) {
    /* 64rem = 1024px */
    html {
        font-size: 50%;
    }
}

@media (max-width: 56rem) {
    /* 56rem = 896px */
    html {
        font-size: 43.75%;
    }
}

@media (max-width: 45rem) {
    /* 45rem = 720px */
    .card-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 75vw;
    }
    .card {
        width: 50rem;
    }
}

@media (max-width: 40rem) {
    /* 40rem = 640px */
    html {
        font-size: 37.5%;
    }

    .card-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        width: 75vw;
    }

    .card {
        width: 50rem;
    }
}

@media (max-width: 30rem) {
    /* 30rem = 480px */
    html {
        font-size: 31.25%;
    }
}


@media (max-width: 24rem) {
    /* 24rem = 384px */
    html {
        font-size: 28.125%;
    }
}


