/* Style Guide *//* 
-------Typography-------

Font-weight: 
normal 400
bold 700
small 300

Line-height: 
heading 1.2
normal 1.6 (p, a, small)

Letter-spacing: 
headings -1.5px
(no need for normal text)

Font-size: 
h1 62px
h2 48px
h3 40px
h4 28px
p & a 20px
small 16px

Font-family: 
Georgia, Times New Roman, Times, serif

Border-radius:
card: 5px - 20px

--------Spacing System--------

|| 5px / 10px / 20px / 50px / 100px / 200px / 250px / 300px ||

-------Color Palette---------

Primary tint:  #aa9de3
Primary color: #553bc6
Primary shade: #442f9e

Secondary tint:  #d4d7db
Secondary color: #597bab
Secondary shade: #27374d

grey tint 1:  #efefef
grey tint 2:f0f0f0
grey tint 3: #949494
grey color: #363636
grey shade: #1b1b1b

-----------------------------------------*/

* {
    margin: 0px;
    padding: 0px;  
    box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif;
}

:root {

    --primary-tint: #aa9de3;
    --primary-color: #553bc6;
    --primary-shade: #442f9e;
    --secondary-tint-shadow: #b6b1b1; 
    --secondary-tint: #d4d7db;
    --secondary-color: #597bab;
    --secondary-shade: #27374d;
    --grey-tint-1: #efefef;
    --grey-tint-2: #f0f0f0;
    --grey-tint-3: #949494;
    --grey-color: #363636;
    --grey-shade: #1b1b1b;
    
    --font-h1: 62px;
    --font-h2: 48px;
    --font-h3: 40px;
    --font-h4: 28px;
    --font-normal: 20px;
    --font-small: 16px;

    --letter-spacing-tight: -2px;
    --line-height-head: 1.2;
    --line-height-normal: 1.6;

    --font-weight-bold: 700;
    --font-weight-normal: 400;
    --font-weight-small: 300px;

}

a {
    text-decoration: none;
    display: block;
}

ul {
    list-style: none;
}

h1, h2, h3 {
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-head);
    letter-spacing: var(--letter-spacing-tight);
    color: var(--grey-shade);
}

h4, p, a {
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-normal);
    color: var(--grey-color);
}

small {
    font-weight: var(--font-weight-small);
    line-height: var(--line-height-normal);
    font-size: var(--font-small);
    color: var(--grey-color);
}

h1 {
    font-size: var(--font-h1);
}

h2 {
    font-size: var(--font-h2);
}

h3 {
    font-size: var(--font-h3);
}

h4 {
    font-size: var(--font-h4);
}

p, a {
    font-size: var(--font-normal);
}

body {
    background-color: white;
}

.nav-bar {
    background-color: var(--secondary-shade);
    padding-top: 5px;
    padding-left: 30px;
    margin-bottom: 150px;   
    display: flex;
    gap: 15px;
    box-shadow: 2px 2px 3px 0px var(--secondary-tint-shadow);
}

.AU-logo {
    height: 100px;
}

.nav-note-1 {
    line-height: 1;
    margin-top: 10px;
}

.nav-note-1, .nav-note-2 {
    color: #fff;
}

header .welcome-head, .welcome-note {
    text-align: center;
}

.welcome-head {
    margin-bottom: 20px;
    text-shadow: 2px 2px 3px var(--grey-tint-3);
}

header {
    margin-bottom: 120px;
    background-color: white;
}

.feature-section {
    margin-bottom: 80px;
}

.section-head {
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 1px 1px 3px var(--grey-tint-3);
}

.card-container {
    width: 85vw;
    background-color: var(--secondary-tint);
    box-shadow: 2px 2px 5px 2px var(--grey-tint-3);
    margin: 0 auto;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 50px;
}

.card {
    margin: 50px 50px 0px 50px;
    background-color: white;
    border-radius: 10px;
    min-height: 100px;
    max-width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    box-shadow: 3px 3px 3px 3px var(--secondary-tint-shadow);
}

.card:hover {
    box-shadow: 1.5px 1.5px 3px 2px var(--secondary-shade);
}

.topic-5 {
    padding: 10px;
}

.card-container .card .subtopic-list {
    display: none;
}

.card h4 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.card .sub-topic-link {
    padding-bottom: 10px;
}

.card li:hover {
    background-color: var(--grey-tint-2);

}

footer {
    background-color: var(--grey-tint-1);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* dropdown toggler */

.subtopic-list {
    display: none;
}

.card.open .subtopic-list {
    display: block;
}